html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    background-color: $color-bg;  
    font-family: $font-sec;    
    font-size: rem(15);
    line-height: rem(28 );
    color: $color-sec-200;
}
a {
    color: $color-sec-500;
    font-size: rem(15);
    font-weight: $weight-bold;

    &:hover {
        transition: 0.5s;
        color: $color-sec-200;
    }
}

h1 {
    font-size: rem(32);
    line-height: rem(34);
    font-weight: $weight-bold;
    font-family: $font-pry;
    color: $color-sec-500;

    @include media-query(large-mobile) {
        font-size: rem(45);
        line-height: rem(53);
    }

    @include media-query(tablet) {
        font-size: rem(55);
        line-height: rem(60);
    }

    @include media-query(desktop) {
        font-size: rem(65);
        line-height: rem(65);
    }
}
h2 {
    font-size: rem(28);
    line-height: rem(36);
    font-weight: $weight-bold;
    font-family: $font-pry;
    color: $color-sec-500;

    @include media-query(large-mobile) {
        font-size: rem(40);
        line-height: rem(50);
    }

    @include media-query(desktop) {
        font-size: rem(48);
        line-height: rem(56);
    }
}

h3 {
    font-size: rem(18);
    line-height: rem(25);
    font-weight: $weight-bold;
    font-family: $font-pry;
    color: $color-sec-500;
}