// =============== UNIVERSAL FORM
.main-form {
    display: flex;
    flex-direction: column;
    margin: rem(20) rem(0);
    
    @include media-query(large-mobile) {
        height: rem(48);
        border-radius: rem(50);
        background-color: $color-bg;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-shadow: $shadow-btn;
        max-width: rem(445);
        margin: rem(40) auto rem(10) auto;
    }
    @include media-query(tablet) {
        margin: rem(40) rem(0) rem(10) rem(0);
    }

    & > * {
        @include media-query(desktop) {
            flex: 1;
        }
    }
}

input[type="email"], input[type="submit"] {
    height: rem(48);
    border: none;
    border-radius: rem(50);
    font-size: rem(14);
    font-weight: $weight-bold;
}

input[type="email"] {
    background-color: $color-bg;
    padding: rem(0) rem(20);
    box-shadow: $shadow-btn;
    margin: rem(15) rem(0);
    color: $color-sec-500;

    @include media-query(large-mobile) {
        flex: 2;
        box-shadow: none;
    }

    &:focus {
        outline: none;
    }
}

input[type="submit"] {
    background-color: $color-pry-100;
    box-shadow: $shadow-btn;
    color: $color-sec-800;

    @include media-query(large-mobile) {
        flex: 1.5;
        box-shadow: none;
    }

    &:hover {
        background-color: #DA6D97;
        color: $color-sec-800;
        transition: all 0.5s linear;
    }
}