.notification {
    background-color: $color-pry-100;
    color: $color-bg;
    padding: rem(10) rem(20);
    position: fixed;
    top: 0;
    right: 0;
    margin-top: rem(100);
    margin-right: rem(20);
    z-index: 100;
}