// ====================================== PRICING PAGE

.main-header-container {
    background-image: url(../../img/universal/desktop/bg-pattern-circle.svg);
    background-size: rem(500) auto;
    background-position: rem(100) rem(-400);
    background-repeat: no-repeat;

    @include media-query(large-mobile) {
        background-size: rem(600) auto;
        background-position: rem(400) rem(-400);
    }

    @include media-query(tablet-mini) {
        background-size: rem(600) auto;
        background-position: rem(500) rem(-400);
    }

    @include media-query(tablet) {
        background-size: rem(700) auto;
        background-position: rem(750) rem(-400);
    }

    @include media-query(desktop) {
        background-size: rem(700) auto;
        background-position: rem(750) rem(-450);
    }

    @include media-query(desktop-mega) {
        background-image: none;
    }
}
.pricing {
    max-width: 100%;

    &__inner {
        max-width: $max-width;
        margin: rem(0) auto;
    }
}
.pricing__header {
    text-align: center;
    padding-top: rem(50);
    
    @include media-query(tablet-mini) {
        padding-top: rem(60);
    }

    @include media-query(desktop) {
        padding-top: rem(70);
        text-align: left;
    }

    h1 {
        font-size: rem(32);
        line-height: rem(36);

        @include media-query(tablet-mini) {
            font-size: rem(48);
            line-height: rem(48);
        }

        @include media-query(desktop) {
            font-size: rem(56);
            line-height: rem(56);
        }
    }
}

.pricing__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    @include media-query(tablet-mini) {
        flex-direction: row;

        & > * {
            flex: 1;
        }
    }
}
.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: rem(80);

    @include media-query(desktop) {
        text-align: left;
        align-items: flex-start;
    }

    &__header {
        margin-bottom: rem(30);

        h2 {
            font-size: rem(24);
            line-height: rem(32);
            color: $color-pry-100;
        }
    }

    &__description {
        display: none;

        @include media-query(desktop) {
            display: block;
            max-width: rem(350);
        }
    }

    &__price {
        h2 {
            font-size: rem(56);
            line-height: rem(72);
            color: $color-sec-100;
        }
    }

    &__hr {
        width: 100%;
        height: rem(1);
        background-color: hsl(0, 0%, 59%);
        margin: rem(10) rem(0);

        @include media-query(large-mobile) {
            width: 60%;
        }

        @include media-query(tablet-mini) {
            width: 90%;
        }

        &-bottom {
            opacity: 0.3;
        }
    }
    &__icon {
        margin-right: rem(15);

        i {
            color: $color-pry-100;
        }
    }

    &__offer {
        line-height: rem(38);
        text-align: left;
    }

    &__button {
        margin-top: rem(30);

        .btn {
            background-color: transparent;
            border: rem(2) solid $color-sec-700;
            color: $color-sec-700;
            box-shadow: none;
        }
        .btn:hover {
            background-color: $color-sec-700;
            color: $color-bg;
        }
    }
}

.plan__offer-inactive {
    opacity: 0.3;
}
.plan__offer-inactive > .plan__icon {
    opacity: 0;
}
