// =======================  ROOT SETTINGS

// ===============  COLORS 
$color-pry-100: #b9416f;
$color-pry-200: #e0e0e0;
$color-sec-100: #37546d;
$color-sec-200: #1c2731;
$color-sec-300: #da6c96;
$color-sec-400: #6b8294;
$color-bg: #f2f2f2;
$color-sec-500: #36536B;
$color-sec-600: #DA6D97;
$color-sec-700: #1B262F;
$color-sec-800: #FBFCFE;
$color-sec-900: #FF0000;
$shadow-btn: rem(0) rem(2) rem(5) rgba(0, 0, 0, 0.199);

// =======================  TYPOGRAPHY

// ===============  FONT FAMILIY       
$font-pry: 'DM Serif Display', serif;
$font-sec: 'Public Sans', sans-serif;

// ===============  FONT WEIGHT
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;

// =============== UNIVERSAL VALUES
$max-width: rem(1110);