

// ===============  AUTOMATICALLY CONVERT PX TO REM
@function rem($size) {
    $remSize: $size / 15;
    @return #{$remSize}rem;
}

// ===============  MEDIA QUERIES
@mixin media-query ($size) {
    @if $size == desktop {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
    @else if $size == tablet {
        @media screen and (min-width: 992px) {
            @content;
        }
    } 
    @else if $size == tablet-mini {
        @media screen and (min-width: 786px) {
            @content;
        }
    } 
    @else if $size == large-mobile {
        @media screen and (min-width: 602px) {
            @content;
        }
    } 
    @else if $size == mobile {
        @media screen and (min-width: 320px) {
            @content;
        }
    } 
    @else if $size == mobile-mini {
      @media screen and (min-width: 300px) {
          @content;
      }
  } 
  }

// =======================  ROOT SETTINGS

// ===============  COLORS 
$color-pry-100: #b9416f;
$color-pry-200: #e0e0e0;
$color-sec-100: #37546d;
$color-sec-200: #1c2731;
$color-sec-300: #da6c96;
$color-sec-400: #6b8294;
$color-bg: #f2f2f2;
$color-sec-500: #36536B;
$color-sec-600: #DA6D97;
$color-sec-700: #1B262F;
$color-sec-800: #FBFCFE;
$shadow-btn: rem(0) rem(2) rem(5) rgba(0, 0, 0, 0.199);

// =======================  TYPOGRAPHY

// ===============  FONT FAMILIY       
$font-pry: 'DM Serif Display', serif;
$font-sec: 'Public Sans', sans-serif;

// ===============  FONT WEIGHT
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;

// =============== UNIVERSAL VALUES
$max-width: rem(1110);

// ===============  BASE CSS RESET
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
  }
html:focus-within {
  scroll-behavior: smooth;
}
img,
picture {
  max-width: 100%;
  display: block;
}

// =============== MAKE ANIMATION OPTIONAL FOR USERS
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
    //   scroll-behavior: auto !important;
    }
  }


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

// =============== MAKE ANIMATION OPTIONAL FOR USERS
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    background-color: $color-bg;  
    font-family: $font-sec;    
    font-size: rem(15);
    line-height: rem(28 );
    color: $color-sec-200;
}

a {
    color: $color-sec-500;
    font-size: rem(15);
    font-weight: $weight-bold;

    &:hover {
        transition: 0.5s;
        color: $color-sec-200;
    }
}

h1 {
    font-size: rem(32);
    line-height: rem(34);
    font-weight: $weight-bold;
    font-family: $font-pry;
    color: $color-sec-500;

    @include media-query(large-mobile) {
        font-size: rem(45);
        line-height: rem(53);
    }

    @include media-query(tablet) {
        font-size: rem(55);
        line-height: rem(60);
    }

    @include media-query(desktop) {
        font-size: rem(65);
        line-height: rem(65);
    }
}




h2 {
    font-size: rem(28);
    line-height: rem(36);
    font-weight: $weight-bold;
    font-family: $font-pry;
    color: $color-sec-500;

    @include media-query(large-mobile) {
        font-size: rem(40);
        line-height: rem(50);
    }

    @include media-query(desktop) {
        font-size: rem(48);
        line-height: rem(56);
    }
}

h3 {
    font-size: rem(18);
    line-height: rem(25);
    font-weight: $weight-bold;
    font-family: $font-pry;
    color: $color-sec-500;
}

















// ===============  HEADER SECTION
.header-container {
    top: 0;
    max-width: 100%;
    padding: rem(20);
}
.header {
    max-width: $max-width;
    min-height: rem(48);
    margin: rem(0) auto;
    padding-top: rem(20);
}     
.header__inner {
    display: flex;
    align-items: center;
}
.header__logo {
    flex: 1;
    img {
        max-width: rem(135);
    }
}
.header__menu {
    flex: 6;
    display: flex;
    justify-content: space-between;
    & > * {
        flex: 1;
    }
}
.menu {
    display: flex;
}
.menu__close {
    display: none;
}
.menu-item {
    margin: 0rem 1rem;
}
.header__button {
    display: flex;
    justify-content: flex-end;
}
.btn {
    background-color: $color-pry-100;
    padding: rem(14) rem(24);
    font-size: rem(15);
    font-weight: bold;
    border-radius: rem(50);
    color: $color-pry-200;
    box-shadow: $shadow-btn;
    &:hover {
        background-color: #DA6D97;
        color: $color-bg;
        transition: all 0.5s linear;
    }
}
.mobile__menu {
    display: none;
}
.menu__line  {
    display: none;
}

@media (max-width: 992px) {
    .menu {
        flex: 2;
        justify-content: center;
    }
    .header__button {
        flex: 1;
    }
}

@media (max-width: 746px) {
    .header {
        padding-top: rem(10);
    }
    .mobile__menu {
        display: block;
        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
    .header__logo {
        img {
            max-width: rem(132);
        }
    }
    .menu {
        flex: 2;
        justify-content: center;
    }
    .menu__close {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: rem(20);
        // margin-top: rem(-50);
        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
    .deactivate {
        display: none;
    }
    .header__menu {
        position: absolute;
        background-color: $color-sec-700;
        top: 0;
        right: 0;
        min-height: 100vh;
        flex-direction: column;
        width: 80vw;
        transition: 0.5s linear;
        transform: translateX(100%);
        z-index: 100;
    }
    .menu {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: rem(-60);
    }
    .menu-item {
        padding: rem(10) rem(0);
        a {
            color: $color-sec-800;
        }
        a:hover {
            color: saturate($color-sec-800, $amount: 50);
        }
    }
    .header__button {
        flex: 6;
        justify-content: center;
        align-items: flex-start;
        margin: rem(40) rem(20);
        display: block;
        text-align: center;
        margin-top: rem(-20);
    }
    .dropdown-btn {
        display: block;
        padding: rem(10) rem(26.6);
        max-width: 100%;
    }
    .menu__line {
        display: block;
    }
    .hr {
        height: rem(1);
        max-width: 85%;
        margin: rem(25) auto;
        background-color: #979797;
        border-radius: rem(50);
    }
    .menu-active {
        transition: 0.5s linear;
        transform: translateX(0%);
    }
    .overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color:rgba(0, 0, 0, 0.26);
        z-index: 0;
    }
}


.sample {
    background-color: orange;
    width: 100%;
    height: rem(1000);
}


// ================================= HOMEPAGE

// =============== HERO SECTION

.home__header {
    // background-color: red;
    background-image: url(../../img/universal/desktop/bg-pattern-circle.svg);
    background-size: rem(500) auto;
    background-position: center rem(-300);
    background-repeat: no-repeat;

    @include media-query(large-mobile) {
        background-size: rem(949) auto;
        background-position: center rem(-550);
    }

    @include media-query(tablet) {
        background-size: rem(780) auto;
        background-position: rem(650) rem(-300);
    }
}

.hero {
    max-width: 100%;
    min-height: rem(0);

    &__inner {
        max-width: $max-width;
        margin: rem(0) auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media-query(tablet) {
            min-height: rem(550);
            flex-direction: row-reverse;
        }

        @include media-query(desktop) {
            // background-color: red;
            // min-height: rem(650);
            min-height: calc(100vh - 60px);
            // flex-direction: row-reverse;
        }

        & > * {
            @include media-query(tablet) {
                flex: 1;
            }
        }
    }
}
.hero__image {
    // background-color: yellow;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        height: rem(330);
        width: auto;
        transform: translateX(rem(10));

        @include media-query(large-mobile){
            height: rem(400);
            width: auto;
            transform: translateX(rem(0));
        }
        @include media-query(tablet){
            height: rem(500);
        }

        @include media-query(desktop) {
            // height: rem(550);
            height: auto;
        }
    }
}
.hero__content {
    text-align: center;

    @include media-query(large-mobile) {
        max-width: rem(573);
    }

    @include media-query(tablet) {
        max-width: 100%;
        text-align: left;
    }
}

.hero__content p, a {
    font-size: rem(14);
    margin: rem(15) rem(0) rem(50) rem(0);

    @include media-query(tablet) {
        transform: translateX(rem(20));
    }
}

// =============== UNIVERSAL FORM

.main-form {
    display: flex;
    flex-direction: column;
    margin: rem(20) rem(0);

    @include media-query(large-mobile) {
        height: rem(48);
        border-radius: rem(50);
        background-color: $color-bg;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-shadow: $shadow-btn;
        max-width: rem(445);
        margin: rem(40) auto rem(10) auto;
    }
    @include media-query(tablet) {
        margin: rem(40) rem(0) rem(10) rem(0);
    }

    & > * {
        @include media-query(desktop) {
            flex: 1;
        }
    }
}

input[type="email"], input[type="submit"] {
    height: rem(48);
    border: none;
    border-radius: rem(50);
    font-size: rem(14);
    font-weight: $weight-bold;
}

input[type="email"] {
    background-color: $color-bg;
    padding: rem(0) rem(20);
    box-shadow: $shadow-btn;
    margin: rem(15) rem(0);
    color: $color-sec-500;

    @include media-query(large-mobile) {
        flex: 2;
        box-shadow: none;
    }

    &:focus {
        outline: none;
    }
}

input[type="submit"] {
    background-color: $color-pry-100;
    box-shadow: $shadow-btn;
    color: $color-sec-800;

    @include media-query(large-mobile) {
        flex: 1.5;
        box-shadow: none;
    }

    &:hover {
        background-color: #DA6D97;
        color: $color-sec-800;
        transition: all 0.5s linear;
    }
}



// PARTNERS SECTION

.partners {
    background-color: $color-sec-700;
    max-width: 100%;
    min-height: rem(0);
    background-image: url(../../img/universal/desktop/bg-pattern-circle.svg);
    background-size: rem(500) auto;
    background-position: center rem(-300);
    background-repeat: no-repeat;

    @include media-query(large-mobile) {
        background-size: rem(949) auto;
        background-position: center rem(-550);
    }

    @include media-query(tablet) {
        background-size: rem(780) auto;
        background-position: rem(-250) rem(-350);
    }

    &__inner {
        // background-color: #fff;
        max-width: $max-width;
        margin: rem(0) auto;
        display: flex;
        flex-direction: column;
        padding: rem(50) rem(20);
        text-align: center;
        
        @include media-query(tablet) {
            flex-direction: row-reverse;
            align-items: center;
            text-align: left;
            min-height: rem(472);
            padding: rem(50) rem(20);
        }

        @include media-query(desktop) {
            padding: rem(50) rem(0);
        }
    }
}

.partners__logos {
    @include media-query(tablet) {
        max-width: rem(536);
        margin: rem(0) auto;
    }

    &-inner {
        display: flex;
        flex-wrap: wrap;
        margin: rem(10) rem(0);

        & > * {
            flex: 1 100%;
            height: rem(50);
            display: grid;
            place-items: center;
            padding: rem(20);

            @include media-query(mobile) {
                flex: 1 50%;
            }
            @include media-query(large-mobile) {
                flex: 1 33.33%;
                height: rem(60);
            }
        }
    }
}

.partners__logo {
    img {
        height: rem(15);
        width: auto;
    }
}

.partners__content {
    max-width: rem(457);
    margin: rem(0) auto;

    // @include media-query(desktop) {
    //     max-width: 100%;
    // }

    h2 {
        color: $color-sec-800;
        margin: rem(40) rem(0) rem(20) rem(0);
    }
    p {
        color: $color-sec-800;
        margin-bottom: rem(40);
    }

    .btn {
        background-color: transparent;
        border: rem(2) solid $color-sec-800;

        &:hover {
            transition: 0.5s;
            color: $color-sec-700;
            background-color: $color-sec-800;
            border: rem(2) solid $color-sec-800;
        }
    }
}


//FEATURES SECTION 

.features__container {
    @include media-query(tablet) {
        background-image: url(../../img/universal/desktop/bg-pattern-circle.svg);
        background-repeat: no-repeat;
        background-size: rem(550) auto;
        background-position: rem(800) rem(400);
    }
    @include media-query(desktop) {
        background-size: rem(650) auto;
        background-position: rem(1000) rem(350);
    }
}

.features {
    max-width: 100%;
    // background-color: red;
    min-height: rem(0);
    padding: rem(10) rem(0);

    @include media-query(tablet-mini) {
        padding: rem(20) rem(0);
    }

    @include media-query(tablet) {
        padding: rem(0) rem(0);
    }

    &__inner {
        max-width: $max-width;
        // background-color: #fff;
        margin: rem(0) auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        @include media-query(tablet) {
            flex-direction: row;
            align-items: center;
            text-align: left;
            padding-top: rem(40);
        }
    }

    &__inner2 {
        @include media-query(tablet) {
            padding-top: rem(0);
            flex-direction: row-reverse;
        }
    }
}

.features__image {
    display: flex;
    margin: rem(0) auto;

    @include media-query(tablet) {
        margin: 0;
        justify-content: flex-start;
    }
}
.features__img {
    margin-left: rem(15);

    @include media-query(large-mobile) {
        margin-left: rem(20);
    }
    @include media-query(tablet-mini) {
        margin-left: rem(35);
    }
    @include media-query(tablet) {
        margin-left: rem(-20);
    }
}

.features__img2 {
    @include media-query(desktop) {
        margin-left: rem(0);
        transform: translateX(rem(90));
    }
}

.features__content {
    padding: rem(0) rem(20) rem(30) rem(20);
    max-width: rem(573);
    margin: rem(-10) auto rem(0) auto;

    @include media-query(tablet-mini) {
        margin: rem(-30) auto rem(0) auto;
    }
    @include media-query(tablet) {
        max-width: rem(460);
    }

    h2 {
        margin-bottom: rem(16);
    }
}







// SERVICES SECTION

.services {
    max-width: 100%;

    &__inner {
        max-width: $max-width;
        margin: rem(0) auto;
        display: flex;
        flex-direction: column;
        text-align: center;

        @include media-query(tablet-mini) {
            flex-direction: row;
            min-height: rem(350);
        }
    }

    
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(20);
    max-width: rem(573);
    margin: rem(0) auto;

    h3 {
        line-height: rem(60);
    }

    img {
        width: rem(106);
        height: auto;
    }
}


// CTA SECTION

.cta {
    max-width: 100%;

    &__inner {
        max-width: $max-width;
        min-height: rem(250);
        margin: rem(0) auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: rem(40) rem(20);
        justify-content: center;

        @include media-query(tablet) {
            justify-content: space-between;
            text-align: left;
            flex-direction: row;
            align-items: center;

            & > * {
                flex: 1;
            }
        }
    }
}

.cta__form {

    @include media-query(tablet) {
        transform: translateX(rem(0)) translateY(rem(-20));
    }
    @include media-query(desktop) {
        transform: translateX(rem(100)) translateY(rem(-20));
    }
}


// ====================================== PRICING PAGE

.main-header-container {
    background-image: url(../../img/universal/desktop/bg-pattern-circle.svg);
    background-size: rem(500) auto;
    background-position: rem(100) rem(-400);
    background-repeat: no-repeat;

    @include media-query(large-mobile) {
        background-size: rem(600) auto;
        background-position: rem(400) rem(-400);
    }

    @include media-query(tablet-mini) {
        background-size: rem(600) auto;
        background-position: rem(500) rem(-400);
    }

    @include media-query(tablet) {
        background-size: rem(700) auto;
        background-position: rem(750) rem(-400);
    }

    @include media-query(desktop) {
        background-size: rem(700) auto;
        background-position: rem(750) rem(-450);
    }
}
.pricing {
    max-width: 100%;

    &__inner {
        max-width: $max-width;
        margin: rem(0) auto;
    }
}
.pricing__header {
    text-align: center;
    padding-top: rem(50);
    
    @include media-query(tablet-mini) {
        padding-top: rem(60);
    }

    @include media-query(desktop) {
        padding-top: rem(70);
        text-align: left;
    }

    h1 {
        font-size: rem(32);
        line-height: rem(36);

        @include media-query(tablet-mini) {
            font-size: rem(48);
            line-height: rem(48);
        }

        @include media-query(desktop) {
            font-size: rem(56);
            line-height: rem(56);
        }
    }
}

.pricing__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    @include media-query(tablet-mini) {
        flex-direction: row;

        & > * {
            flex: 1;
        }
    }
}
.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: rem(80);

    @include media-query(desktop) {
        text-align: left;
        align-items: flex-start;
    }

    &__header {
        margin-bottom: rem(30);

        h2 {
            font-size: rem(24);
            line-height: rem(32);
            color: $color-pry-100;
        }
    }

    &__description {
        display: none;

        @include media-query(desktop) {
            display: block;
            max-width: rem(350);
        }
    }

    &__price {
        h2 {
            font-size: rem(56);
            line-height: rem(72);
            color: $color-sec-100;
        }
    }

    &__hr {
        width: 100%;
        height: rem(1);
        background-color: #979797;
        margin: rem(10) rem(0);

        @include media-query(large-mobile) {
            width: 60%;
        }

        @include media-query(tablet-mini) {
            width: 90%;
        }

        &-bottom {
            opacity: 0.3;
        }
    }
    &__icon {
        margin-right: rem(15);

        i {
            color: $color-pry-100;
        }
    }

    &__offer {
        line-height: rem(38);
        text-align: left;
    }

    &__button {
        margin-top: rem(30);

        .btn {
            background-color: transparent;
            border: rem(2) solid $color-sec-700;
            color: $color-sec-700;
            box-shadow: none;
        }
        .btn:hover {
            background-color: $color-sec-700;
            color: $color-bg;
        }
    }
}

.plan__offer-inactive {
    opacity: 0.3;
}
.plan__offer-inactive > .plan__icon {
    opacity: 0;
}



























































//=============== FOOTER SECTION

.footer {
    background-color: $color-sec-700;
    padding: rem(30) rem(0);
    background-image: url(../../img/universal/desktop/bg-pattern-circle.svg);
    background-size: rem(800) auto;
    background-position: center rem(150);
    background-repeat: no-repeat;

    @include media-query(large-mobile) {
        padding: rem(10) rem(0);    
        display: flex;
        background-size: rem(500) auto;
        background-position: rem(500) rem(-100);
    }

    @include media-query(tablet) {
        background-position: rem(700) rem(-100);
    }

    @include media-query(desktop) {
        background-position: rem(1000) rem(-100);
    }


    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: rem(1110);
        margin: rem(0) auto;
        padding: rem(0) rem(10);

        @include media-query(large-mobile) {
            flex: 1;
            flex-direction: row;
        }
    }
}

.footer__logo {
    padding: rem(10) rem(0);

    @include media-query(large-mobile) {
        flex: 1;
        justify-content: right;
    }
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(13) rem(0);

    @include media-query(large-mobile) {
        flex-direction: row;
        flex: 1;
    }

    &-item {
        padding: rem(7) rem(0);
        @include media-query(large-mobile) {
            margin: rem(0) rem(20);
        }

        a {
            color: $color-sec-800;
        }
        a:hover {
            color: saturate($color-sec-800, $amount: 50);
        }
    }
}

.footer__social {
    display: flex;
    align-items: center;
    padding: rem(13) rem(0);

    @include media-query(large-mobile) {
        flex: 1;
        justify-content: right;
    }
    & > * {
        margin: rem(0) rem(10);
    }
}

.footer__inner-section {
    @include media-query(large-mobile) {
        flex: 1;
    }
}

.foot-2 {
    @include media-query(large-mobile) {
        flex: 2;
    }
    @include media-query(tablet) {
        flex: 5;
    }
}


//=============== SCROLL UP BUTTON

.scroll-up {
    height: rem(45);
    width: rem(45);
    border-radius: 100%;
    background-color: $color-pry-100;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: rem(15);
    box-shadow: $shadow-btn;
    display: grid;
    place-items: center;
    cursor: pointer;

    i {
        font-size: rem(25);
        color: $color-sec-800;
    }

    &:hover {
        background-color: #DA6D97;
        transition: all 0.5s linear;
    }
}