*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #f2f2f2;
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.86667rem;
  color: #1c2731;
}

a {
  color: #36536B;
  font-size: 1rem;
  font-weight: 700;
}

a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #1c2731;
}

.header-container {
  top: 0;
  max-width: 100%;
  margin: 1.33333rem;
}

.header {
  max-width: 74rem;
  min-height: 3.2rem;
  margin: 0rem auto;
  padding-top: 1.33333rem;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__logo img {
  max-width: 9rem;
}

.header__menu {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__close {
  display: none;
}

.menu-item {
  margin: 0rem 1rem;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn {
  background-color: #b9416f;
  padding: 0.93333rem 1.6rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3.33333rem;
  color: #e0e0e0;
  -webkit-box-shadow: 0rem 0.06667rem 0.13333rem rgba(0, 0, 0, 0.562);
          box-shadow: 0rem 0.06667rem 0.13333rem rgba(0, 0, 0, 0.562);
}

.btn:hover {
  background-color: #DA6D97;
  color: #f2f2f2;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.mobile__menu {
  display: none;
}

.menu__line {
  display: none;
}

@media (max-width: 992px) {
  .menu {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 746px) {
  .header {
    padding-top: 0.66667rem;
  }
  .mobile__menu {
    display: block;
  }
  .mobile__menu button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .header__logo img {
    max-width: 8.8rem;
  }
  .menu {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 1.33333rem;
    margin-top: -0.53333rem;
  }
  .menu__close button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .deactivate {
    display: none;
  }
  .header__menu {
    position: absolute;
    background-color: #1B262F;
    top: 0;
    right: 0;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80vw;
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    z-index: 100;
  }
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -5.33333rem;
  }
  .menu-item {
    padding: 0.66667rem 0rem;
  }
  .menu-item a {
    color: #FBFCFE;
  }
  .menu-item a:hover {
    color: #fafcff;
  }
  .header__button {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 2.66667rem 1.33333rem;
    display: block;
    text-align: center;
    margin-top: 0rem;
  }
  .dropdown-btn {
    display: block;
    padding: 0.66667rem 1.77333rem;
    max-width: 100%;
  }
  .menu__line {
    display: block;
  }
  .menu__line hr {
    width: 85%;
    margin: 1.66667rem auto;
    color: rgba(3, 3, 3, 0.267);
  }
  .menu-active {
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 0;
  }
}

.sample {
  background-color: orange;
  width: 100%;
  height: 66.66667rem;
}

.footer {
  background-color: #1B262F;
  padding: 2rem 0rem;
  background-image: url(../../img/universal/desktop/bg-pattern-circle.svg);
  background-size: 53.33333rem auto;
  background-position: center 10rem;
  background-repeat: no-repeat;
}

@media screen and (min-width: 602px) {
  .footer {
    padding: 0.66667rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: 33.33333rem auto;
    background-position: 33.33333rem -6.66667rem;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    background-position: 46.66667rem -6.66667rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    background-position: 66.66667rem -6.66667rem;
  }
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 74rem;
  margin: 0rem auto;
  padding: 0rem 0.66667rem;
}

@media screen and (min-width: 602px) {
  .footer__inner {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__logo {
  padding: 0.66667rem 0rem;
}

@media screen and (min-width: 602px) {
  .footer__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.86667rem 0rem;
}

@media screen and (min-width: 602px) {
  .footer__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.footer__menu-item {
  padding: 0.46667rem 0rem;
}

@media screen and (min-width: 602px) {
  .footer__menu-item {
    margin: 0rem 1.33333rem;
  }
}

.footer__menu-item a {
  color: #FBFCFE;
}

.footer__menu-item a:hover {
  color: #fafcff;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.86667rem 0rem;
}

@media screen and (min-width: 602px) {
  .footer__social {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

.footer__social > * {
  margin: 0rem 0.66667rem;
}

@media screen and (min-width: 602px) {
  .footer__inner-section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (min-width: 602px) {
  .foot-2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

@media screen and (min-width: 992px) {
  .foot-2 {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

.scroll-up {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background-color: #b9416f;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
  -webkit-box-shadow: 0rem 0.06667rem 0.13333rem rgba(0, 0, 0, 0.562);
          box-shadow: 0rem 0.06667rem 0.13333rem rgba(0, 0, 0, 0.562);
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.scroll-up i {
  font-size: 1.66667rem;
  color: #FBFCFE;
}

.scroll-up:hover {
  background-color: #DA6D97;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
/*# sourceMappingURL=main.css.map */