*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #f2f2f2;
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.8666666667rem;
  color: #1c2731;
}

a {
  color: #36536B;
  font-size: 1rem;
  font-weight: 700;
}
a:hover {
  transition: 0.5s;
  color: #1c2731;
}

h1 {
  font-size: 2.1333333333rem;
  line-height: 2.2666666667rem;
  font-weight: 700;
  font-family: "DM Serif Display", serif;
  color: #36536B;
}
@media screen and (min-width: 602px) {
  h1 {
    font-size: 3rem;
    line-height: 3.5333333333rem;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 3.6666666667rem;
    line-height: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4.3333333333rem;
    line-height: 4.3333333333rem;
  }
}

h2 {
  font-size: 1.8666666667rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-family: "DM Serif Display", serif;
  color: #36536B;
}
@media screen and (min-width: 602px) {
  h2 {
    font-size: 2.6666666667rem;
    line-height: 3.3333333333rem;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 3.2rem;
    line-height: 3.7333333333rem;
  }
}

.header-container {
  top: 0;
  max-width: 100%;
  padding: 1.3333333333rem;
}

.header {
  max-width: 74rem;
  min-height: 3.2rem;
  margin: 0rem auto;
  padding-top: 1.3333333333rem;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__logo {
  flex: 1;
}
.header__logo img {
  max-width: 9rem;
}

.header__menu {
  flex: 6;
  display: flex;
  justify-content: space-between;
}
.header__menu > * {
  flex: 1;
}

.menu {
  display: flex;
}

.menu__close {
  display: none;
}

.menu-item {
  margin: 0rem 1rem;
}

.header__button {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: #b9416f;
  padding: 0.9333333333rem 1.6rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3.3333333333rem;
  color: #e0e0e0;
  box-shadow: 0rem 0.1333333333rem 0.3333333333rem rgba(0, 0, 0, 0.199);
}
.btn:hover {
  background-color: #DA6D97;
  color: #f2f2f2;
  transition: all 0.5s linear;
}

.mobile__menu {
  display: none;
}

.menu__line {
  display: none;
}

@media (max-width: 992px) {
  .menu {
    flex: 2;
    justify-content: center;
  }

  .header__button {
    flex: 1;
  }
}
@media (max-width: 746px) {
  .header {
    padding-top: 0.6666666667rem;
  }

  .mobile__menu {
    display: block;
  }
  .mobile__menu button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .header__logo img {
    max-width: 8.8rem;
  }

  .menu {
    flex: 2;
    justify-content: center;
  }

  .menu__close {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 1.3333333333rem;
    margin-top: -3.3333333333rem;
  }
  .menu__close button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .deactivate {
    display: none;
  }

  .header__menu {
    position: absolute;
    background-color: #1B262F;
    top: 0;
    right: 0;
    min-height: 100vh;
    flex-direction: column;
    width: 80vw;
    transition: 0.5s linear;
    transform: translateX(100%);
    z-index: 100;
  }

  .menu {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -9.3333333333rem;
  }

  .menu-item {
    padding: 0.6666666667rem 0rem;
  }
  .menu-item a {
    color: #FBFCFE;
  }
  .menu-item a:hover {
    color: #fafcff;
  }

  .header__button {
    flex: 6;
    justify-content: center;
    align-items: flex-start;
    margin: 2.6666666667rem 1.3333333333rem;
    display: block;
    text-align: center;
    margin-top: -2.6666666667rem;
  }

  .dropdown-btn {
    display: block;
    padding: 0.6666666667rem 1.7733333333rem;
    max-width: 100%;
  }

  .menu__line {
    display: block;
  }

  .hr {
    height: 0.0666666667rem;
    max-width: 85%;
    margin: 1.6666666667rem auto;
    background-color: #979797;
    border-radius: 3.3333333333rem;
  }

  .menu-active {
    transition: 0.5s linear;
    transform: translateX(0%);
  }

  .overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 0;
  }
}
.sample {
  background-color: orange;
  width: 100%;
  height: 66.6666666667rem;
}

.home__header {
  background-image: url(../../img/universal/desktop/bg-pattern-circle.svg);
  background-size: 33.3333333333rem auto;
  background-position: center -20rem;
  background-repeat: no-repeat;
}
@media screen and (min-width: 602px) {
  .home__header {
    background-size: 63.2666666667rem auto;
    background-position: center -36.6666666667rem;
  }
}
@media screen and (min-width: 992px) {
  .home__header {
    background-size: 52rem auto;
    background-position: 43.3333333333rem -20rem;
  }
}

.hero {
  max-width: 100%;
  min-height: 0rem;
}
.hero__inner {
  max-width: 74rem;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .hero__inner {
    min-height: 36.6666666667rem;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .hero__inner {
    min-height: calc(100vh - 60px);
  }
}
@media screen and (min-width: 992px) {
  .hero__inner > * {
    flex: 1;
  }
}

.hero__image {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__image img {
  height: 22rem;
  width: auto;
  transform: translateX(0.6666666667rem);
}
@media screen and (min-width: 602px) {
  .hero__image img {
    height: 26.6666666667rem;
    width: auto;
    transform: translateX(0rem);
  }
}
@media screen and (min-width: 992px) {
  .hero__image img {
    height: 33.3333333333rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero__image img {
    height: 36.6666666667rem;
  }
}

.hero__content {
  text-align: center;
}
@media screen and (min-width: 602px) {
  .hero__content {
    max-width: 38.2rem;
  }
}
@media screen and (min-width: 992px) {
  .hero__content {
    max-width: 100%;
    text-align: left;
  }
}

.hero__content p, a {
  font-size: 0.9333333333rem;
  margin: 1rem 0rem 3.3333333333rem 0rem;
}
@media screen and (min-width: 992px) {
  .hero__content p, a {
    transform: translateX(1.3333333333rem);
  }
}

.main-form {
  display: flex;
  flex-direction: column;
  margin: 1.3333333333rem 0rem;
}
@media screen and (min-width: 602px) {
  .main-form {
    height: 3.2rem;
    border-radius: 3.3333333333rem;
    background-color: #f2f2f2;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0rem 0.1333333333rem 0.3333333333rem rgba(0, 0, 0, 0.199);
    max-width: 29.6666666667rem;
    margin: 2.6666666667rem auto 0.6666666667rem auto;
  }
}
@media screen and (min-width: 992px) {
  .main-form {
    margin: 2.6666666667rem 0rem 0.6666666667rem 0rem;
  }
}
@media screen and (min-width: 1200px) {
  .main-form > * {
    flex: 1;
  }
}

input[type=email], input[type=submit] {
  height: 3.2rem;
  border: none;
  border-radius: 3.3333333333rem;
  font-size: 0.9333333333rem;
  font-weight: 700;
}

input[type=email] {
  background-color: #f2f2f2;
  padding: 0rem 1.3333333333rem;
  box-shadow: 0rem 0.1333333333rem 0.3333333333rem rgba(0, 0, 0, 0.199);
  margin: 1rem 0rem;
  color: #36536B;
}
@media screen and (min-width: 602px) {
  input[type=email] {
    flex: 2;
    box-shadow: none;
  }
}

input[type=submit] {
  background-color: #b9416f;
  box-shadow: 0rem 0.1333333333rem 0.3333333333rem rgba(0, 0, 0, 0.199);
  color: #FBFCFE;
}
@media screen and (min-width: 602px) {
  input[type=submit] {
    flex: 1.5;
    box-shadow: none;
  }
}
input[type=submit]:hover {
  background-color: #DA6D97;
  color: #FBFCFE;
  transition: all 0.5s linear;
}

.partners {
  background-color: #1B262F;
  max-width: 100%;
  min-height: 0rem;
  background-image: url(../../img/universal/desktop/bg-pattern-circle.svg);
  background-size: 33.3333333333rem auto;
  background-position: center -20rem;
  background-repeat: no-repeat;
}
@media screen and (min-width: 602px) {
  .partners {
    background-size: 63.2666666667rem auto;
    background-position: center -36.6666666667rem;
  }
}
@media screen and (min-width: 992px) {
  .partners {
    background-size: 52rem auto;
    background-position: -16.6666666667rem -23.3333333333rem;
  }
}
.partners__inner {
  max-width: 74rem;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  padding: 3.3333333333rem 1.3333333333rem;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .partners__inner {
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    min-height: 31.4666666667rem;
    padding: 3.3333333333rem 1.3333333333rem;
  }
}
@media screen and (min-width: 1200px) {
  .partners__inner {
    padding: 3.3333333333rem 0rem;
  }
}

@media screen and (min-width: 992px) {
  .partners__logos {
    max-width: 35.7333333333rem;
    margin: 0rem auto;
  }
}
.partners__logos-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0.6666666667rem 0rem;
}
.partners__logos-inner > * {
  flex: 1 100%;
  height: 3.3333333333rem;
  display: grid;
  place-items: center;
  padding: 1.3333333333rem;
}
@media screen and (min-width: 320px) {
  .partners__logos-inner > * {
    flex: 1 50%;
  }
}
@media screen and (min-width: 602px) {
  .partners__logos-inner > * {
    flex: 1 33.33%;
    height: 4rem;
  }
}

.partners__logo img {
  height: 1rem;
  width: auto;
}

.partners__content {
  max-width: 30.4666666667rem;
  margin: 0rem auto;
}
.partners__content h2 {
  color: #FBFCFE;
  margin: 2.6666666667rem 0rem 1.3333333333rem 0rem;
}
.partners__content p {
  color: #FBFCFE;
  margin-bottom: 2.6666666667rem;
}
.partners__content .btn {
  background-color: transparent;
  border: 0.1333333333rem solid #FBFCFE;
}
.partners__content .btn:hover {
  transition: 0.5s;
  color: #1B262F;
  background-color: #FBFCFE;
  border: 0.1333333333rem solid #FBFCFE;
}

.footer {
  background-color: #1B262F;
  padding: 2rem 0rem;
  background-image: url(../../img/universal/desktop/bg-pattern-circle.svg);
  background-size: 53.3333333333rem auto;
  background-position: center 10rem;
  background-repeat: no-repeat;
}
@media screen and (min-width: 602px) {
  .footer {
    padding: 0.6666666667rem 0rem;
    display: flex;
    background-size: 33.3333333333rem auto;
    background-position: 33.3333333333rem -6.6666666667rem;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    background-position: 46.6666666667rem -6.6666666667rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    background-position: 66.6666666667rem -6.6666666667rem;
  }
}
.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 74rem;
  margin: 0rem auto;
  padding: 0rem 0.6666666667rem;
}
@media screen and (min-width: 602px) {
  .footer__inner {
    flex: 1;
    flex-direction: row;
  }
}

.footer__logo {
  padding: 0.6666666667rem 0rem;
}
@media screen and (min-width: 602px) {
  .footer__logo {
    flex: 1;
    justify-content: right;
  }
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8666666667rem 0rem;
}
@media screen and (min-width: 602px) {
  .footer__menu {
    flex-direction: row;
    flex: 1;
  }
}
.footer__menu-item {
  padding: 0.4666666667rem 0rem;
}
@media screen and (min-width: 602px) {
  .footer__menu-item {
    margin: 0rem 1.3333333333rem;
  }
}
.footer__menu-item a {
  color: #FBFCFE;
}
.footer__menu-item a:hover {
  color: #fafcff;
}

.footer__social {
  display: flex;
  align-items: center;
  padding: 0.8666666667rem 0rem;
}
@media screen and (min-width: 602px) {
  .footer__social {
    flex: 1;
    justify-content: right;
  }
}
.footer__social > * {
  margin: 0rem 0.6666666667rem;
}

@media screen and (min-width: 602px) {
  .footer__inner-section {
    flex: 1;
  }
}

@media screen and (min-width: 602px) {
  .foot-2 {
    flex: 2;
  }
}
@media screen and (min-width: 992px) {
  .foot-2 {
    flex: 5;
  }
}

.scroll-up {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background-color: #b9416f;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
  box-shadow: 0rem 0.1333333333rem 0.3333333333rem rgba(0, 0, 0, 0.199);
  display: grid;
  place-items: center;
  cursor: pointer;
}
.scroll-up i {
  font-size: 1.6666666667rem;
  color: #FBFCFE;
}
.scroll-up:hover {
  background-color: #DA6D97;
  transition: all 0.5s linear;
}/*# sourceMappingURL=main.css.map */